@font-face {
    font-family: "poppins";
    src: url("poppins-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("poppins-Italic.otf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "poppins";
    src: url("poppins-Bold.otf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "poppins";
    src: url("poppins-BoldItalic.otf") format("truetype");
    font-weight: bold;
    font-style: italic;
}